.page-title {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}


.card-category {
  display: flex;
  width: 230px;
  height: 290px;
  background: #C4C4C4;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.card-category:hover {
 opacity: 0.8;
 box-shadow: 1px 1px 3px lightgray;
}

.content {
  background-color: #F3F3F3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -40px;
  align-items: flex-end;
  justify-content: space-evenly;
  padding-top: 50px;
  border: none;
  box-shadow: 1px 1px 1px lightgray;
}

.content h3 {
  color: black;
  // text-shadow: 1px 1px 1px lightgray;
  padding-top: 50px;
}

.content h5 {
  color: black;
  font-size: 15px;
  text-align: right;
  padding-top:8px;
  padding-bottom:8px;

}

// PINTEREST STYLE
.wf-container {
  margin: 0 auto;
  width: 80%;
  height: 100vh; //testing footer
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  text-align: center;
}

.wf-container:before,
.wf-container:after {
  content: '';
  display: table;
}

.wf-container:after { clear: both; }

.wf-box {
  margin: 10px;
  width: 300px;
  height: auto;
  border-radius: 20px;
  padding: 15px;
  align-items: center;
  justify-content: center;

}

.wf-box:hover {
  opacity: 0.8;
}


.wf-box img {
  display: block;
  width: 100%;
  // border-radius: 20px;
  box-shadow: 1px 1px 1px lightgray;
}

.wf-box .content {
  // border: 1px solid #ccc;
  border-top-width: 0;
  padding: 5px 8px;
}

.wf-column {
  float: left;
  justify-content: center;
}

// RESPONSIVE
@media screen and (min-width: 768px) {

.wf-container { width: 750px; }

}

@media screen and (min-width: 992px) {

.wf-container { width: 970px; }

}

@media screen and (min-width: 1200px) {

.wf-container { width: 1170px; }
}


