

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.main-carousel {
  background: #EEE;
}

.card {
  overflow: hidden;
  max-height: 550px;
}

.card img {
  display: block;
  height: 400px;
}

.card.is-selected {

}

@media screen and ( max-width: 450px ) {
  .card img {
    height: 400px;
  }
}

.card-category img {
  background-position: center
}


// BRAND INTRO

.card-category {
  margin: 10px;
  width: 210px;
  height: 300px;
  border-radius: 20px;
  padding: 15px;
  background: none;
}

.card-category img {
  display: block;
  width: 100%;
}

.brandIntro p {
  color: white;
  box-shadow: none;
}


// RESPONSIVE
// .product-cards {
//   padding-left: 200px;
//   padding-right: 200px;
// }
.cards {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .main-carousel {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .main-carousel {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .main-carousel {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .main-carousel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .main-carousel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}





