.main-banner {
  background-size: cover;
  // background-image: url(https://cdn.dribbble.com/users/1404186/screenshots/3603919/corridor.gif);
  background-position: center;
  height: 91vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  // text-shadow: 1px 1px 10px black;
  padding-bottom: 30px;
  font-family: "Montserrat";
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);
}

.main-banner-info {
  display: flex;
  text-align: center;
  justify-content: center;
  width:80%;
}


@media screen and (max-width: 801px) {
  .from {
    color: black !important;
  }
}

@media screen and (min-width: 801px) {
  .main-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 60px;
  }
}

@media screen and (max-width: 801px) {
  .main-banner-info {
  width:100%;
}
}
// .parallax {
//   height: 91vh;
//   background-attachment: fixed;
//   background-position: top;
//   background-repeat: no-repeat;
//   background-size: cover;
// }


.banner h1,p {
  color: white;
  padding: 25px;
  // text-shadow: 1px 1px 10px black;
}

.left {
  width: 50px;
  height:50px;
  background-repeat: no-repeat;
}

.right {
  width: 50px;
  height:50px;
  background-repeat: no-repeat;
}

.m-left {
  width: 40px;
  height:40px;
  background-repeat: no-repeat;
  display: none;
}

.m-right {
  width: 40px;
  height:40px;
  background-repeat: no-repeat;
  display: none;
}

.main-banner-title {
  color: black;
  margin-top: 30px;
  width: 90%;
  z-index: 2;
  padding: 10px;
}

@media screen and (max-width: 801px) {
  .main-banner-title  {
    padding:20px !important;
  }
}

.main-banner-title h1 {
  padding: 10px;
}

.main-banner-title h2 {
  padding: 10px;
}

.main-banner-title p {
  color: black;

}

.second-banner {
  // background-size: cover;
  background-color: black;
  // background-position: center;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.second-banner>* {
  flex: 0 1 100px;
  margin: 20px;
}

.break {
  flex-basis: 100%
}

.globe-w-arrows {
  display: flex;
  height: 65vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-arrows {
  // display: flex;
  height: 50px;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px
}

#globalArea {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 801px) {
  #globalArea {
    height: 80%;
    width: 80%;
    margin: 0;
    padding: 0;
  }
}

#arrows {
  display: flex;
  flex-direction: row;
}

.country-name {
  text-align: center;
  background:black;
  color:white;
  font-size: 20px;
}

canvas {
  width: 100%;
}

@media screen and (min-width: 801px) {
  canvas {
    min-width: 420px;
    height: 400px;
  }
}

@media screen and (min-width: 801px) {
  .mobile-title {
    display: none;
  }
}

@media screen and (max-width: 801px) {
  .second-banner {
    display:none;
  }
}

@media screen and (max-width: 801px) {
  .globe-w-arrows {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 400px;
  }
}

@media screen and (min-width: 801px) {
  .m-right {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .m-left {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .buy-btn-2 {
    display: none;
  }
}

@media screen and (max-width: 1px) {
  .right {
    display: none;
    z-index: 100
  }
}

@media screen and (max-width: 1px) {
  .left {
    display: none;
    z-index: 100;
  }
}

@media screen and (max-width: 800px) {
  .navbar-brand {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  .navbar-brand-2 {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .main-banner-btn {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .main-banner {
    height: 100vh;
  }
}

#stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.country-list {
  display: flex;
  z-index: 7;
}

.dropdown-item {
  color: black;
  padding-top:0;
}

.dropdown-item:hover {
  background-color: black !important;
  color: white !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carousel-item {
  transition: transform 0.3s ease-in-out;
  // text-decoration: underline overline;
  text-align: center;
  justify-content: center;
}

.carousel-inner {
  text-align: center;
  justify-content: center;
}

.speech-bubble-ds {
    background: #efefef;
    border: 1px solid #a7a7a7;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
}

.speech-bubble-ds p {
    margin-bottom: 10px;
}
.speech-bubble-ds p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 15px;
}
.speech-bubble-ds-arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}
.speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #efefef;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}

.carousel-control-prev {
  height:80%;
  position: relative;
  bottom: 40;
}

.carousel-control-next {
  height:80%;
  position: relative;
  bottom: 40;
}


@media screen and (max-width: 801px) {
  .carousel-control-next {
    padding-right: 35px;
  }
}

@media screen and (max-width: 801px) {
  .carousel-control-prev {
    padding-left: 35px;
  }
}
