.main-banner {
  background-size: cover;
  // background-image: url(https://cdn.dribbble.com/users/1404186/screenshots/3603919/corridor.gif);
  background-position: center;
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 10px black;
  padding: 20px;
  font-family: "Montserrat"
}

.banner h1,p {
  color: white;
  padding: 25px;
  text-shadow: 1px 1px 10px black;
}

.left {
  width: 25px;
  height:25px;
  background-repeat: no-repeat;
}

.right {
  width: 25px;
  height:25px;
  background-repeat: no-repeat;
}

.m-left {
  width: 25px;
  height:25px;
  background-repeat: no-repeat;
}

.m-right {
  width: 25px;
  height:25px;
  background-repeat: no-repeat;
}

.second-banner {
  // background-size: cover;
  background-color: black;
  // background-position: center;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.second-banner>* {
  flex: 0 1 100px;
  margin: 20px;
}

.break {
  flex-basis: 100%
}

.globe-w-arrows {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-arrows {
  display: flex;
  height: 50px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#globalArea {
  height: 90%;
  width: 90%;
  margin: 0;
  padding: 0;
}

#arrows {
  display: flex;
  flex-direction: row;
}

.country-name {
  text-align: center;
}

canvas {
  width: 100%;
}

@media screen and (min-width: 801px) {
  canvas {
    min-width: 420px;
  }
}

@media screen and (min-width: 801px) {
  .main-banner {
    background-color: white;
    background-image: url();
  }
}

@media screen and (min-width: 801px) {
  .globe-w-arrows {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 80%;
  }
}

@media screen and (min-width: 801px) {
  .m-right {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .m-left {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .right {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
}

