// Place all the styles related to the product_rec controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$fade-grey: #ededed;
$grey: #ccc;
$muted-grey: #999;
$heart: #ff4f8f;
$white: #fff;

.gridCentered {
  margin-left: auto;
  margin-right: auto;
}
.gridCentered .static,
.gridCentered .Masonry-Premount .Collection-Item {
  position: absolute;
  visibility: hidden;
}
.gridCentered .Masonry-Premount,
.gridCentered .Masonry-Premount .AutoSizer,
.gridCentered .Masonry-Premount .Collection {
  width: auto !important;
}

@media (min-width: 0px) and (max-width: 755px) {
  .gridCentered {
    width: 504px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+2),
  .gridCentered .static:nth-child(-n+2) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 756px) and (max-width: 1007px) {
  .gridCentered {
    width: 756px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+3),
  .gridCentered .static:nth-child(-n+3) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 1008px) and (max-width: 1259px) {
  .gridCentered {
    width: 1008px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+4),
  .gridCentered .static:nth-child(-n+4) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 1260px) and (max-width: 1511px) {
  .gridCentered {
    width: 1260px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+5),
  .gridCentered .static:nth-child(-n+5) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 1512px) and (max-width: 1763px) {
  .gridCentered {
    width: 1512px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+6),
  .gridCentered .static:nth-child(-n+6) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 1764px) and (max-width: 2015px) {
  .gridCentered {
    width: 1764px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+7),
  .gridCentered .static:nth-child(-n+7) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 2016px) and (max-width: 2267px) {
  .gridCentered {
    width: 2016px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+8),
  .gridCentered .static:nth-child(-n+8) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 2268px) and (max-width: 2519px) {
  .gridCentered {
    width: 2268px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+9),
  .gridCentered .static:nth-child(-n+9) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 2520px) and (max-width: 2771px) {
  .gridCentered {
    width: 2520px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+10),
  .gridCentered .static:nth-child(-n+10) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 2772px) and (max-width: 3023px) {
  .gridCentered {
    width: 2772px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+11),
  .gridCentered .static:nth-child(-n+11) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 3024px) and (max-width: 3275px) {
  .gridCentered {
    width: 3024px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+12),
  .gridCentered .static:nth-child(-n+12) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 3276px) and (max-width: 3527px) {
  .gridCentered {
    width: 3276px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+13),
  .gridCentered .static:nth-child(-n+13) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 3528px) and (max-width: 3779px) {
  .gridCentered {
    width: 3528px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+14),
  .gridCentered .static:nth-child(-n+14) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 3780px) and (max-width: 4031px) {
  .gridCentered {
    width: 3780px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+15),
  .gridCentered .static:nth-child(-n+15) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 4032px) and (max-width: 4283px) {
  .gridCentered {
    width: 4032px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+16),
  .gridCentered .static:nth-child(-n+16) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 4284px) and (max-width: 4535px) {
  .gridCentered {
    width: 4284px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+17),
  .gridCentered .static:nth-child(-n+17) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 4536px) and (max-width: 4787px) {
  .gridCentered {
    width: 4536px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+18),
  .gridCentered .static:nth-child(-n+18) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 4788px) and (max-width: 5039px) {
  .gridCentered {
    width: 4788px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+19),
  .gridCentered .static:nth-child(-n+19) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 5040px) and (max-width: 5291px) {
  .gridCentered {
    width: 5040px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+20),
  .gridCentered .static:nth-child(-n+20) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 5292px) and (max-width: 5543px) {
  .gridCentered {
    width: 5292px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+21),
  .gridCentered .static:nth-child(-n+21) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 5544px) and (max-width: 5795px) {
  .gridCentered {
    width: 5544px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+22),
  .gridCentered .static:nth-child(-n+22) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 5796px) and (max-width: 6047px) {
  .gridCentered {
    width: 5796px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+23),
  .gridCentered .static:nth-child(-n+23) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 6048px) and (max-width: 6299px) {
  .gridCentered {
    width: 6048px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+24),
  .gridCentered .static:nth-child(-n+24) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 6300px) and (max-width: 6551px) {
  .gridCentered {
    width: 6300px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+25),
  .gridCentered .static:nth-child(-n+25) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 6552px) and (max-width: 6803px) {
  .gridCentered {
    width: 6552px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+26),
  .gridCentered .static:nth-child(-n+26) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 6804px) and (max-width: 7055px) {
  .gridCentered {
    width: 6804px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+27),
  .gridCentered .static:nth-child(-n+27) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 7056px) and (max-width: 7307px) {
  .gridCentered {
    width: 7056px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+28),
  .gridCentered .static:nth-child(-n+28) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 7308px) and (max-width: 7559px) {
  .gridCentered {
    width: 7308px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+29),
  .gridCentered .static:nth-child(-n+29) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 7560px) and (max-width: 7811px) {
  .gridCentered {
    width: 7560px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+30),
  .gridCentered .static:nth-child(-n+30) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 7812px) and (max-width: 8063px) {
  .gridCentered {
    width: 7812px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+31),
  .gridCentered .static:nth-child(-n+31) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 8064px) and (max-width: 8315px) {
  .gridCentered {
    width: 8064px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+32),
  .gridCentered .static:nth-child(-n+32) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

@media (min-width: 8316px) and (max-width: 8567px) {
  .gridCentered {
    width: 8316px;
  }
  .gridCentered .Masonry-Premount .Collection-Item:nth-child(-n+33),
  .gridCentered .static:nth-child(-n+33) {
    position: static !important;
    visibility: visible !important;
    float: left;
    display: block;
  }
}

#add {
  right: 1.1em;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 10px black;
}

body {
  background-color: white;
}

.container-recs {
  margin: auto;
  width: 80%;
  max-width: 950px;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px;
}

.brand-name {
  text-align: center;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 8px;
  text-shadow: 1px 1px 1px rgb(230,230,230);
  margin:0;
  font-size:2rem;
}

.brand-country {
  text-align: center;
  font-weight: 700;
  margin: 0;
  font-size:1.25rem;

}

.brand-description {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: justify;
  text-justify: distribute;
  text-align-last: center;
  word-spacing:1px;
  margin-bottom:10px;
  font-size:1rem;
}



.brand-card {
  display: block;
  // margin: 10px 10px;
  padding: 5px 0px;
  background-color: rgb(250,250,250);
  // box-shadow: 2px 2px 2px 2px rgb(245,245,245);
  border-radius: 5px;
  object-fit: fit;
  max-height:500px;
  justify-content: center;
}

.brand-flex h6 {
  margin: 0;
  text-align: center;
}

.brand-flex h5 {
  margin: 0;
  text-align: center;
}

.brand-flex {
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,255,255);
  padding: 0px 0px;
  margin-top: 10px;
  height: 55%;
}

.brand-flex img {
  background-size: cover;
}

.brand-flex-2 {

  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0px 0px;
  height: 55%;
}

.brand-flex-2 h6 {
  margin: 0;
  text-align: center;
}

.brand-flex-2 h5 {
  margin: 0;
  text-align: center;
}

// .brand-text {
//   width: 100%;
//   margin: 0px 5px;
//   padding: 0px 10px;
//   max-height: 100%;
//   box-sizing: border-box;

// }

.brand-images {
  display: flex;
  justify-content: center;
  height: 50%;
  overflow: auto;
  width:100%;
  background-size: cover;
}

.brand-images img {
  height: 500px;
  max-height: 40%;
  width:auto;
  background-size: cover;
}

#img-plus {

}

.product-images {
  display: flex;
  height: 500px;
  align-items: center;
  overflow: auto;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-bottom: 10px;

}

.product-images img {
  height: 100%;
  margin-right: 20px;
}

.brands-infos {
  background-color: #F5F5F5;
  padding:20px;
  margin-top: 5px;
}


@media screen and ( max-width: 800px ) {
  .container-recs {
    width: 100%;
    padding: 0;

  }
}

@media screen and ( max-width: 800px ) {
  .brand-flex {
    justify-content: flex-start;

  }
}

@media screen and ( min-width: 800px ) {
  .brand-images {
    justify-content: center;
  }
}

@media screen and ( max-width: 800px ) {
  .brand-images {
    justify-content: flex-start;

  }
}

@media screen and ( max-width: 800px ) {
  .brand-card {
    padding: 0;
    margin: 0;

  }
}


  .love {
    font-size: 0.9rem;
    color: $heart;
  }
  .wrapper {
  position: relative;
  display: inline-block;


    .like-button {
      display: inline;
      position: absolute;
      top: -16.75em;
      right: 4.5em;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: $grey;
      margin: 0 auto;
      text-decoration: none;
      overflow: hidden;

      .like-overlay {
        display: inline;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 0em;
        border-radius: 50%;
        background: #ff4f8f;
        transform: scale(0);
        transition: all .4s;
        z-index: 0;
      }

      i {
        &.not-liked {
          display: block;
          top: .40em;
          right: .60em;
          color: $red;
          position: absolute;
          z-index: 1;

        }

        &.is-liked {
          display: none;
          color: $red;
          position: absolute;
          z-index: 1;
        }
      }

      &.is-active {
        .like-overlay {
          transform: scale(1);
        }
        i {
          &.not-liked {
            display: none;
          }
          &.is-liked {
            display: block;
            top: .40em;
            right: .60em;
          }
        }
      }
    }
  }


//Watch me get bouncy
@-webkit-keyframes bouncy {
    from, to { -webkit-transform: scale(1, 1); }
    25% { -webkit-transform: scale(0.9, 1.1); }
    50% { -webkit-transform: scale(1.1, 0.9); }
    75% { -webkit-transform: scale(0.95, 1.05); }
}
@keyframes bouncy {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05);}
}

//Settings
.bouncy {
    -webkit-animation: bouncy 0.6s;
    animation: bouncy 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

