<!-- _footer -->
<div class="footer">
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div> -->
  <div class="footer-copyright">
   © 2020 Ligne All Rights Reserved    |    <%=link_to "Contact Us", aboutus_pages_path %>
  </div>
</div>
