<%= render "devise/shared/navbar" %>

<div class="contentwrapper">
  <div class="values">
    <h2>What we stand for</h2>
    <p>Ligne was started by a team of multi-cultural fashion enthusiasts who met in Shenzhen, China. After returning from living abroad, we saw that fashion
      consumption in China was super trend-focused, and social media emphasized conformity.
      We decided to create a content and shopping platform for individuals who value curiosity, empathy, and embracing uniqueness. We are leveraging China's
      advanced infrastructure in e-commerce and social commerce to deliver personalized recommendations to Chinese consumers who want to try small foreign brands that
      reflect their values.
    </p>
    <h2>Contact us</h2>
    <br><a href="mailto:bingwan.gini.li@gmail.com?subject=Wanted to get in touch from your website">Gini</a> cofounder, US | <a href="mailto:renee.tangwanyi@gmail.com?subject=Wanted to get in touch from your website">Renee</a> cofounder, China
  </div>

  <div class="profilewrapper">

    <div class="profile">
      <div class="profilepic">
        <img src='https://res.cloudinary.com/dmrilanf8/image/upload/v1579010438/49889021_gmzvto.jpg' alt="">
      </div>
      <div class="profiletext">
        <h4>Renee Tang</h4>
      </div>
    </div>

    <div class="profile">
      <div class="profilepic">
        <img src="https://res.cloudinary.com/dmrilanf8/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1578986981/gini_sqhdek.jpg" alt="">
      </div>
      <div class="profiletext">
        <h4>Gini Li</h4>
      </div>
    </div>


    <div class="profile">
      <div class="profilepic">
        <img src="https://res.cloudinary.com/dmrilanf8/image/upload/v1579010414/54634567_k7drrs.jpg" alt="">
      </div>
      <div class="profiletext">
        <h4>Daniel Ong</h4>
      </div>
    </div>

    <div class="profile">
      <div class="profilepic">
        <img src="https://res.cloudinary.com/dmrilanf8/image/upload/v1579010477/53445518_ia7fmb.jpg" alt="">
      </div>
      <div class="profiletext">
        <h4>Jacob Zeis</h4>
      </div>
    </div>
  </div>
</div>



