<!-- BANNER -->
<!-- <div class="container"> -->
<head>
    <meta charset="UTF-8">
    <title>Hello World (Simplest Usage) / Gio.js</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
  <!-- load data in this data script -->
    <script src="app/assets/javascripts/data.js"></script>

<body>

  <!-- MAIN BANNER -->
  <div class="main-banner parallax" style="padding-top:0;background-image:url(https://marketplace.canva.com/MADBINdBC1Q/1/thumbnail_large-1/canva-catwalk-background-MADBINdBC1Q.jpg)">

  <!-- NAVBAR -->

    <div class="main-banner-title">
      <h1 style="padding-top:25px">Welcome to LIGNE</h1>
      <br>
      <h5>Discover brands through the globe by pressing the arrows.</h5>

    </div>
  <div class="collapse-nav">
    <%= render "devise/shared/navbar" %>
  </div>
    <div class="globe-w-arrows">
      <div class="left" style="cursor: pointer;background-image:url(https://image.flaticon.com/icons/svg/467/467274.svg);"></div>
      <div id="globalArea"></div>
      <div class="right" style="cursor: pointer;background-image:url(https://image.flaticon.com/icons/svg/467/467282.svg);"></div>
    </div>
      <div class="mobile-arrows" style="margin-top:25px">
        <div class="m-left" style="background-image:url(https://image.flaticon.com/icons/svg/467/467274.svg);"></div>

        <div><a href="#" id="discover2" class="buy-btn-2">Discover <strong>United States</strong>!</a></div>
        <div class="m-right" style="background-image:url(https://image.flaticon.com/icons/svg/467/467282.svg);"></div>

      </div>
   <!--    <div class="country-name" style="margin-bottom:45px !important">
        <a href="#" class="buy-btn" style="flex: 1 1 80px;padding:10px !important;">DISCOVER</a> -->
      <div class="country-name">
        <strong></strong>
      </div>
      <a id="discover" class="main-banner-btn" style="flex: 1 1 40px;">Discover <strong>United States</strong>!</a>
    </div>
  </div>

    <script src="https://raw.githack.com/syt123450/giojs/master/build/gio.min.js"></script>
<!-- GLOBE -->
  <script type="text/javascript">

(() => {

    let container = document.getElementById( "globalArea" );
    let CountryName = document.querySelector(".country-name");
    let controller = new GIO.Controller( container );
    let discover = document.querySelector("#discover");
    let discoverMobile = document.querySelector("#discover2");
    let countryIndex

    // Initializers
    controller.setInitCountry("US");
    controller.setTransparentBackground(true);
    controller.addData( data );
    controller.setAutoRotation( true, 1 );
    controller.setSelectedColor("#fcfcfc");
    controller.adjustOceanBrightness(0.0);
    controller.init();
    controller.clearData();

    // Desktop DOM Variables
    let left = document.querySelector(".left");
    let right = document.querySelector(".right");
    let places = ["FR", "CN", "BR", "US", "CA", "AU"];
    let codename = {FR:"France", CN:"China", BR:"Brazil", US:"United States", CA:"Canada", AU:"Australia"};
    // Mobile DOM Variables
    let mleft = document.querySelector(".m-left");
    let mright = document.querySelector(".m-right");


    // Custom Functions
    const disableRotate = () => {
      controller.setAutoRotation(false);
    }

    // Event Listeners
    const doAnotherThing = () => {
      controller.setAutoRotation(true, 1);
    }
  const callback = ( selectedCountry, relatedCountries ) => {
    let left = document.querySelector(".left");
    let right = document.querySelector(".right");

    let num = places[Math.floor(Math.random()*places.length)];
    controller.setAutoRotation(false);
    controller.switchCountry(num);
    setTimeout(doAnotherThing, 5000);

   discover.innerHTML = "Discover <strong>" + codename[num] + "</strong>!";
   discoverMobile.innerHTML = "Discover <strong>" + codename[num] + "</strong>!";
    countryIndex = num
  }

    // go to country brand
  const doSomething = () => {
    if (countryIndex === undefined) {
      window.location.href = "/brands/country?query=US"
    } else {
      window.location.href = "/brands/country?query=" + countryIndex
    }

  }


  discover.addEventListener('click', doSomething);
  discoverMobile.addEventListener('click', doSomething);

  container.addEventListener('click', disableRotate)

  right.addEventListener('click', callback);
  left.addEventListener('click', callback);
  mright.addEventListener('click', callback);
  mleft.addEventListener('click', callback);


  controller.onCountryPicked(callback);


})();

  </script>

<!-- ABOUT US -->
<!--   <div class="second-banner">
    <div class="flip">
      <div class="card-discover front" style="background-image: url(https://i.pinimg.com/564x/2b/d7/ca/2bd7ca8ec4ff621293588bef43a66699.jpg);">
        <h4><strong>Discover</strong></h4>
      </div>
      <div class="back">
        <p style="color:white;font-size:20px;">Find for brands <strong>across the world</strong></p>
      </div>
    </div>

    <div class="flip">
      <div class="card-choose front" style="background-image: url(https://i.pinimg.com/474x/b5/29/d6/b529d6d5a1f25fd6f8809af956b1e9be.jpg);">
        <h4 style="color:#131313"><strong>Choose</strong></h4>
      </div>
      <div class="back">
        <p style="color:white;font-size:20px;">State your international <strong>style</strong></p>
      </div>
    </div>

    <div class="flip">
      <div class="card-buy front" style="background-image: url(https://i.pinimg.com/564x/f7/11/da/f711da2184b1d5a9b6bbc2105739a3ce.jpg);">
       <h5 style="color:#EDDF3A"><strong>Acquire</strong></h5>
      </div>
      <div class="back">
       <p style="color:white;font-size:20px;">Be trustfully <strong>unique</strong></p>
      </div>
    </div>
      <div class="break"></div>
    <div>
      <a href="/brands" class="buy-btn" style="flex: 1 1 80px;">DISCOVER</a>
    </div>
  </div> -->
</body>
