<!-- BANNER -->
<!-- <div class="container"> -->
<head>
    <meta charset="UTF-8">
    <title>Hello World (Simplest Usage) / Gio.js</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
    <script src="https://raw.githack.com/syt123450/giojs/master/build/gio.min.js"></script>
  <!-- load data in this data script -->
    <script src="app/assets/javascripts/data.js"></script>

<!-- POPUP MESSAGE -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
<style type="text/css">

</style>
<script type='text/javascript'>
$(function(){
var overlay = $('<div id="overlay"></div>');
overlay.show();
overlay.appendTo(document.body);
$('.popup').show();
$('.close').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});

$('.x').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});
});
</script>
</head>
<div class='popup'>
  <div class='cnt223'>
  <h1>Welcome to Line</h1>
    <p>Navigate through the globe with the arrows. <br>Choose a country by pressing on it.</p>
    <a href='' class="close">
     <h5 style="z-index:1000;font-size:25px;color:yellow;padding:0; background-color:black ">Got it!</h5>
    </a>

  </div>
</div>

<!-- MAIN BANNER -->
<body>

  <div class="main-banner parallax" style="background-image:url(https://cdn.dribbble.com/users/89889/screenshots/6919200/contour-dribble_4x.jpg)">
  <div class="collapse-nav">
    <%= render "devise/shared/navbar" %>
  </div>
    <div class="globe-w-arrows">
      <div class="left" style="background-image:url(https://image.flaticon.com/icons/svg/467/467274.svg);"></div>
      <div id="globalArea"></div>
      <div class="right" style="background-image:url(https://image.flaticon.com/icons/svg/467/467282.svg);"></div>
    </div>
      <div class="country-name"></div>
      <div class="mobile-arrows">
        <div class="m-left" style="background-image:url(https://image.flaticon.com/icons/svg/467/467274.svg);"></div>
        <div class="m-right" style="background-image:url(https://image.flaticon.com/icons/svg/467/467282.svg);"></div>
    </div>
    </div>
  </div>

<!-- GLOBE -->
  <script type="text/javascript">

(() => {

    let container = document.getElementById( "globalArea" );
    let CountryName = document.querySelector(".country-name");
    let controller = new GIO.Controller( container );

    // Initializers
    controller.setTransparentBackground(true);
    controller.addData( data );
    controller.setAutoRotation( true, 1 );
    controller.setSelectedColor("#fcfcfc");
    controller.adjustOceanBrightness(0.0);
    controller.init();
    controller.clearData();

    // Desktop DOM Variables
    let left = document.querySelector(".left");
    let right = document.querySelector(".right");
    let places = ["US", "CN", "BR", "FR", "CA", "AU"];

    // Mobile DOM Variables
    let mleft = document.querySelector(".m-left");
    let mright = document.querySelector(".m-right");


    // Custom Functions
    const disableRotate = () => {
      controller.setAutoRotation(false);
    }

    const goLeft = () => {
      let num = places[Math.floor(Math.random()*places.length)];
      controller.setAutoRotation(false);
      controller.switchCountry(num);
      setTimeout(doAnotherThing, 5000);
    };

    // Event Listeners
    container.addEventListener('click', disableRotate)
    right.addEventListener('click', goLeft);
    left.addEventListener('click', goLeft);
    mright.addEventListener('click', goLeft);
    mleft.addEventListener('click', goLeft);


  const callback = ( selectedCountry, relatedCountries ) => {
    let left = document.querySelector(".left");
    let right = document.querySelector(".right");
    CountryName.innerHTML = "Traveling to <strong>" +selectedCountry.name + "</strong> buckle in!";
    const doSomething = () => {
      window.location.href = "/brands/country?query=" + selectedCountry.ISOCode
    }

    setTimeout(doSomething, 1500);
  }

    controller.onCountryPicked(callback);

  const doAnotherThing = () => {
    controller.setAutoRotation(true, 1);
  }

  controller.liveLoad( data, liveLoadCallback, 5000 );

  function liveLoadCallback () {

          console.log("Load data event happens.");

  }

})();




  </script>

<!-- ABOUT US -->
  <div class="second-banner">
    <div class="flip">
      <div class="card-discover front" style="background-image: url(https://i.pinimg.com/564x/2b/d7/ca/2bd7ca8ec4ff621293588bef43a66699.jpg);">
        <h4><strong>Discover</strong></h4>
      </div>
      <div class="back">
        <p style="color:white;font-size:20px;">Find for brands <strong>across the world</strong></p>
      </div>
    </div>

    <div class="flip">
      <div class="card-choose front" style="background-image: url(https://i.pinimg.com/474x/b5/29/d6/b529d6d5a1f25fd6f8809af956b1e9be.jpg);">
        <h4 style="color:#131313"><strong>Choose</strong></h4>
      </div>
      <div class="back">
        <p style="color:white;font-size:20px;">State your international <strong>style</strong></p>
      </div>
    </div>

    <div class="flip">
      <div class="card-buy front" style="background-image: url(https://i.pinimg.com/564x/f7/11/da/f711da2184b1d5a9b6bbc2105739a3ce.jpg);">
       <h5 style="color:#EDDF3A"><strong>Acquire</strong></h5>
      </div>
      <div class="back">
       <p style="color:white;font-size:20px;">Be trustfully <strong>unique</strong></p>
      </div>
    </div>
      <div class="break"></div>
    <div>
      <a href="http://localhost:3000/brands" class="buy-btn" style="flex: 1 1 80px;">DISCOVER</a>
    </div>
  </div>


</body>
