<!-- BANNER -->
<!-- <div class="container"> -->
<body>
  <div class="main-banner">
    <div>
      <h1>Ligne</h1>
    </div>
    <div>
      <p>Discover International Brands <br>Find Your Unique Style</p>
    </div>
  </div>
  <!-- ABOUT US -->
  <div class="second-banner">
    <div class="flip">
      <div class="card-discover front" style="background-image: url(https://image.flaticon.com/icons/svg/814/814513.svg);">
        <h4>Discover</h4>
      </div>
      <div class="back">
        <p>Search for styles across the world.</p>
      </div>
    </div>

    <div class="flip">
      <div class="card-choose front" style="background-image: url(https://www.mensurbanclothing.com/wp-content/uploads/2017/02/phoenix-london-fashion-week-street-style-style-728789994.jpg);">
        <h4>Choose</h4>
      </div>
      <div class="back">
        <p>State your international style</p>
      </div>
    </div>

    <div class="flip">
      <div class="card-buy front" style="background-image: url(https://cdn.dribbble.com/users/2738/screenshots/5554154/the-gift_reach_records.jpg);">
       <h4>Buy</h4>
      </div>
      <div class="back">
       <p>Be unique with safety</p>
      </div>
    </div>

  </div>

</body>


