<!-- BANNER -->
<!-- <div class="container"> -->
<head>
    <meta charset="UTF-8">
    <title>Hello World (Simplest Usage) / Gio.js</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
    <script src="https://raw.githack.com/syt123450/giojs/master/build/gio.min.js"></script>
  <!-- load data in this data script -->
  <script src="app/assets/javascripts/data.js"></script>
</head>


<body>

  <div class="main-banner" style="background-position:top;background-image:url(https://cdn.dribbble.com/users/164119/screenshots/7939959/media/ae2169d2f9070d845753ed141760c84a.jpg)">
<!--
    <div>
      <h1>LIGNE</h1>
      <p>Discover International Brands <br>Find Your Unique Style</p>
    </div> -->

    <div class="globe-w-arrows">
      <div class="left" style="position:relative;float:right;padding-left:100px;background-image:url(https://image.flaticon.com/icons/svg/126/126492.svg);"></div>
      <div id="globalArea"></div>
      <div class="right" style="padding-right:100px;background-image:url(https://image.flaticon.com/icons/svg/126/126490.svg);"></div>
    </div>

      <div class="country-name"></div>
      <div class="mobile-arrows">
        <div class="m-left" style="background-image:url(https://image.flaticon.com/icons/svg/126/126492.svg);"></div>
        <div class="m-right" style="background-image:url(https://image.flaticon.com/icons/svg/126/126490.svg);"></div>
    </div>
    </div>
  </div>

<!-- GLOBE -->
  <script type="text/javascript">
    // Get the container to hold the IO globe
    var container = document.getElementById( "globalArea" );
    // Create Gio.controller
    var controller = new GIO.Controller( container );
    // Add data
    controller.setTransparentBackground(true);
    controller.addData( data );
    // Initialize and render the globe
    controller.init();
    controller.clearData();
    // enable auto-rotation, 1 is the default speed.
    controller.setAutoRotation( true, 1 );
    controller.setSelectedColor("#fcfcfc");
    controller.adjustOceanBrightness(1.0);
    // use the onCountryPicked() to set callback when clicked country changed
    controller.onCountryPicked( callback );

let CountryName = document.querySelector(".country-name");

function callback ( selectedCountry, relatedCountries ) {

CountryName.innerHTML = "Traveling to <strong>" +selectedCountry.name + "</strong> buckle in!";
  function doSomething() {
    window.location.href = "http://localhost:3000/brands/country?query=" + selectedCountry.ISOCode
  }
  setTimeout(doSomething, 1500);
  console.log(selectedCountry);
  // highlight the mouseenter target
  // window.location.href = "hey.html"
}


      // DESKTOP
      let left = document.querySelector(".left");
      let right = document.querySelector(".right");
      let places = ["US", "CN", "BR", "FR", "CA", "AU"];


      // MOBILE
      let mleft = document.querySelector(".m-left");
      let mright = document.querySelector(".m-right");


      function goLeft() {
        let num = places[Math.floor(Math.random()*places.length)];
        controller.switchCountry(num);
        CountryName.innerHTML = "this is <strong>" +selectedCountry.name + "</strong>"
      };

      right.addEventListener('click', goLeft);
      left.addEventListener('click', goLeft);
      mright.addEventListener('click', goLeft);
      mleft.addEventListener('click', goLeft);
        // const myCanvas = document.querySelector("canvas")
  // const myContext = myCanvas.getContext("2d")
      // highlight the mouseenter target
      // window.location.href = "hey.html"


      // const myCanvas = document.querySelector("canvas")
      // const myContext = myCanvas.getContext("2d")



    // image.onload = () => {
    //   myContext.drawImage(image, 0, 0, 100, 100)
    //   // myContext.rotate(45 * Math.PI / 180);
    // }

  </script>


<!-- ABOUT US -->
  <div class="second-banner">
    <div class="flip">
      <div class="card-discover front" style="background-image: url(https://i.pinimg.com/564x/11/bd/20/11bd20f533facc49503bceecf71f545e.jpg);">
        <h4>Discover</h4>
      </div>
      <div class="back">
        <p style="color:white;font-size:20px;">Find for brands <strong>across the world</strong></p>
      </div>
    </div>

    <div class="flip">
      <div class="card-choose front" style="background-image: url(https://i.pinimg.com/564x/6b/2a/c2/6b2ac28118d6c15fe63526cb63f5d6c9.jpg);">
        <h4>Choose</h4>
      </div>
      <div class="back">
        <p style="color:white;font-size:20px;">State your international <strong>style</strong></p>
      </div>
    </div>

    <div class="flip">
      <div class="card-buy front" style="background-image: url(https://i.pinimg.com/564x/f7/11/da/f711da2184b1d5a9b6bbc2105739a3ce.jpg);">
       <h4>Acquire</h4>
      </div>
      <div class="back">
       <p style="color:white;font-size:20px;">Be trustfully <strong>unique</strong></p>
      </div>
    </div>
      <div class="break"></div>
    <div>
      <a href="http://localhost:3000/brands" class="buy-btn" style="flex: 1 1 80px;">DISCOVER</a>
    </div>
  </div>


</body>
