<!-- BANNER -->
<!-- <div class="container"> -->
<body>


  <div class="main-banner">
    <div>
      <h1>Ligne</h1>
    </div>
    <div>
      <p>Discover International Brands <br>Find Your Unique Style</p>
    </div>
  </div>


  <!-- ABOUT US -->
  <div class="second-banner">
    <div class="card-discover">
      <h4>Discover</h4>
      <img src="https://image.flaticon.com/icons/svg/814/814513.svg" alt="world">
      <p>Search for styles across the world.</p>
    </div>

    <div class="card-choose">
      <h4>Choose</h4>
      <img src="https://image.flaticon.com/icons/svg/1778/1778647.svg" alt="">
      <p>State your international style</p>
    </div>

    <div class="card-buy">
      <h4>Buy</h4>
      <img src="https://image.flaticon.com/icons/svg/572/572842.svg" alt="style">
      <p>Be unique with safety</p>
    </div>
  </div>
  <!-- FOOTER -->


  <!-- render footer -->
</body>
  <div class="footer">
   Discover the world style.
  </div>
</div>
