<!-- BANNER -->
<div class="container">

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/370301/screenshots/3169962/worldmap.png);">
        <h1>Ligne</h1>
        <p>Discover International Brands <br>Find Your Unique Style</p>
         <a class="btn btn-flat" href="#">Click The Contitnent On the Map</a>
    </div>

</div>




<!-- FOOTER -->
<div class="footer-contact">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
