<%= render "/devise/shared/navbar" %>
<!-- TITLE -->
<body>

  <div class="wf-container">
    <div class="page-title" style="text-align:center">
      <div>
        <h2>PICK FOR YOU</h2>
        <h5>Inspirations For Your Next Outfit</h5>
      </div>
    </div>

  <div class="country-btn">
    <%= link_to "BACK", :back, class: "filter-btn" %>
  </div>

<!-- PRODUCT CARDS -->
<div class="product-card">
  <% @brands.each do |brand| %>
    <% brand.products.each do |product| %>
      <div class="wf-box" data-aos="fade-right">
        <div class="heart" data-aos="fade-right">
          <div class="wrapper">
            <%= link_to product_path(product), method: :patch, class: "like-button" do%>
              <i class="mdc-icon-button material-icons not-liked bouncy" id="add">✚</i>
              <i class="mdc-icon-button material-icons is-liked bouncy" id="add">✚</i>
              <span class="like-overlay"></span>
            <% end %>
          </div>
        </div>
        <%= cl_image_tag product.image_url, style: "border-radius:20px;"%>
      </div>
    <% end %>
  <% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){

    $('.like-button').click(function(){
        $(this).toggleClass('is-active');
    })
})
</script>

<script src="app/assets/javascripts/responsive_waterfall.js"></script>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script>

</div>

</body>


  <!-- pinterest style -->

