<!-- TITLE -->
<body>
  <script src="app/assets/javascripts/responsive_waterfall.js"></script>

  <div class="wf-container">
    <div class="page-title" style="text-align:center">
      <div>
        <h2>PICK FOR YOU</h2>
        <h5>Inspirations For Your Next Outfit</h5>
      </div>
    </div>

<!-- PRODUCT CARDS -->

    <a class="wf-box" href="https://www.freepeople.com/shop/kahana-tunic/?category=new-dresses&color=065"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://i.ibb.co/BtLgh4D/pink-dress.jpg" />
    </a>

     <a class="wf-box" href="#"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://66.media.tumblr.com/tumblr_m2w8j1DTAJ1qecdlho1_500.jpg" />
    </a>

     <a class="wf-box" href="https://www.cantao.com.br/vestido-cachecour-c-blocking-c-viscose-azul-marinho-5248194132/p"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://i.ibb.co/1TsMQ47/Screen-Shot-2019-12-11-at-15-54-10.png" />
    </a>

    <a class="wf-box" href="#"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://66.media.tumblr.com/tumblr_m1ang0lVl81rpoegvo1_500.jpg" />
    </a>

    <a class="wf-box" href="#"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://i.pinimg.com/564x/84/bc/f0/84bcf0e2fbd13144da0f908ad7fc4fad.jpg" />
    </a>

    <a class="wf-box" href="https://www.cantao.com.br/vestido-estampado-sal-525708031/p"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://i.ibb.co/RP5vY95/Screen-Shot-2019-12-11-at-16-25-33.png" />
    </a>

    <a class="wf-box" href="#"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://i.pinimg.com/564x/0c/ed/e8/0cede83fc8ede215b58d70b1db3af4d2.jpg" />
    </a>

    <a class="wf-box" href="#"> <img style="border-top-left-radius:20px;border-top-right-radius:20px;" src="https://i.pinimg.com/474x/55/73/2c/55732cedecdea75a9156d36c41204e21.jpg" />
    </a>



  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script>

<script src="app/assets/javascripts/responsive_waterfall.js"></script>
</div>

</body>


  <!-- pinterest style -->

