// Buttons file
.buy-btn {
  color: white;
  background-color: black;
  width: 118px;
  height: 50px;
  border: 3px solid white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.style-btn {
  color: white;
  background-color: #0F4C81;
  width: 112px;
  height: 48px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-btn {
  color: black;
  background-color: white;
  width: 118px;
  height: 48px;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.filter-btn {
  color: black;
  background-color: white;
  width: 112px;
  height: 48px;
  border: 3px solid #0F4C81;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gray-btn {
  color: white;
  background-color: #C4C4C4;
  width: 118px;
  height: 48px;
  border: 3px solid #0F4C81;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
