// Buttons file
.black-white-link {
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: underline;
}

.black-white-link:hover {
  color: white;
  background: black;
  text-decoration: none;
  text-transform: uppercase;
}

.buy-btn {
  color: white;
  background-color: black;
  width: 90px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.main-banner-btn {
  color: white !important;
  background-color: #DE413B;
  width: auto;
  border: 1px solid white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.main-banner-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.buy-btn-2 {
  color: white;
  background-color: #DE413B;
  width: 20px !important;
  border: 1px solid white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buy-btn-2:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.style-btn {
  color: white;
  background-color: #0F4C81;
  width: 90px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4px;
  font-size: 16px;
}

.style-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.cancel-btn {
  color: black;
  background-color: white;
  width: 118px;
  height: 48px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: black;
}

.filter-btn {
  color: black;
  background-color: white;
  width: 90px;
  border: 3px solid #0F4C81;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4px;
  font-size: 14px;
}

.filter-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: black;
}

.gray-btn {
  color: white;
  background-color: #C4C4C4;
  width: 118px;
  height: 48px;
  border: 3px solid #0F4C81;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gray-btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.country-btn {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  padding-top: 20px;
}

/*scroll to top btn*/
// #myBtn {
//   display: none;
//   position: fixed;
//   bottom: 65px;
//   right: 30px;
//   z-index: 99;
//   font-size: 18px;
//   border: none;
//   outline: none;
//   background-color: #DC3645;
//   color: white;
//   cursor: pointer;
//   padding: 15px;
//   border-radius: 50%;
// }

// #myBtn:hover {
//   background-color: white;
//   border: 1px solid black;
// }

