
.navbar {
  width: 100vw;
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
  position: fixed;
  justify-content: space-between;
}

.collapse-nav {
  top:0;
  position: fixed;
  display: flex;
}

.navbar-collapse {
  background: rgba(120, 120, 120, 0.9);
}

@media screen and (min-width: 2000px) {
  .navbar-collapse {
    background: transparent;
    color: white !important;
  }
}


@media screen and (max-width: 2000px) {
  .nav-link {
   color: white !important;
   // background: rgba(120, 120, 120, 0.5);

  }
}

@media screen and (max-width: 2000px) {
  .nav-item {
     padding: 20px
  }
}
