
<!-- for testing purposes only, remove when country query works -->
<h1>You made it to the country view for <%= params[:query] %></h1>
<div class="brand-image-card">
  <% @brand.brand_images.each do |image| %>
    <%= cl_image_tag image.url %>
  <% end %>
</div>
<!-- end -->

<% @brands.each do |brand| %>
    <% brand.brand_images.each do |brand_image| %>
      <%= cl_image_tag brand_image.url %>
    <% end %>
<% end %>
