<!-- BRAND CARDS -->
<body>
  <script src="app/assets/javascripts/responsive_waterfall.js"></script>

  <div class="cards">
    <% @brands.each do |i| %>
    <div class="card-picture">
      <%= cl_image_tag("https://res.cloudinary.com/dmrilanf8/image/fetch/w_300,h_300,c_fill,r_max,f_auto/#{i.logo_url}") %>
    </div>
      <div class="card-text">
        <h1><%= i.name %></h1>
        <h3><%= i.country %></h3>
        <p><%= i.description %></p>
      </div>
    <% end %>
  </div>

  <div class="wf-container">
    <div class="wf-box" > <img src="https://i.pinimg.com/564x/34/8a/49/348a494bbb81901abe795dc3795e92a2.jpg">
      <div class="content">
        <h3>BRAND NAME</h3>
        <h5>This brand is latin for sportwear</h5>
      </div>
    </div>
    <div class="wf-box"> <img src="https://i.pinimg.com/564x/f3/8b/b8/f38bb8c01e679a6be9e26078133e7aca.jpg">
      <div class="content">
        <h3>BRAND NAME</h3>
        <h5>This brand is asian for sportwear</h5>
      </div>
    </div>
    <div class="wf-box"> <img src="https://i.pinimg.com/originals/a6/70/d6/a670d68fabbdf5b32949cf948762ce86.jpg">
      <div class="content">
        <h3>BRAND NAME</h3>
        <h5>This brand is european for sportwear</h5>
      </div>
    </div>
    <div class="wf-box"> <img src="https://i.pinimg.com/564x/86/77/e3/8677e30acb9e42330d8c0497bc6c34de.jpg">
      <div class="content">
        <h3>BRAND NAME</h3>
        <h5>This brand is american for sportwear</h5>
      </div>
    </div>
    <div class="wf-box"> <img src="https://i.pinimg.com/236x/fc/69/b6/fc69b62c673e6fe6497285eb012abab3.jpg">
      <div class="content">
        <h3>BRAND NAME</h3>
        <h5>This brand is african for sportwear</h5>
      </div>
    </div>
    <div class="wf-box"> <img src="https://i.pinimg.com/564x/ca/1d/88/ca1d88333e8868c3fdc86ff41bac02a2.jpg">
      <div class="content">
        <h3>BRAND NAME</h3>
        <h5>This brand is latin for sportwear</h5>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    // use querySelector/querySelectorAll internally
    var waterfall = new Waterfall({
        containerSelector: '.wf-container',
        boxSelector: '.wf-box',
        minBoxWidth: 250
    });
  </script>

<script src="app/assets/javascripts/responsive_waterfall.js"></script>

</body>


  <!-- pinterest style -->

