<!-- BRAND CARDS -->

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    <% @brands.each do |i| %>
    <div class="card-picture">
      <%= cl_image_tag("https://res.cloudinary.com/dmrilanf8/image/fetch/w_300,h_300,c_fill,r_max,f_auto/#{i.logo_url}") %>
    </div>
      <div class="card-text">
        <h1><%= i.name %></h1>
        <h3><%= i.country %></h3>
        <p><%= i.description %></p>
      </div>
    <% end %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Mara Hoffman
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Urban Outfitters
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Love Shack Fancy
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    DollsKill
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Realisation Par
  </div>
</div>
