<!-- NAVBAR -->
<div class="navbar">
  <a class="navbar-logo" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a>

  <div class="button-container">
    <button name="button" type="submit" class="btn btn-flat">
    Pick For Me
    </button>
    <a href="#"><i class="fas fa-bell"></i></a>
    <a href="#"><i class="fas fa-heart"></i></a>
    <img class="user-avatar" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
  </div>

</div>


<!-- BRAND CARDS -->

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Free People
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Mara Hoffman
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Urban Outfitters
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Love Shack Fancy
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    DollsKill
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    Realisation Par
  </div>
</div>
