<!-- BRAND EDITORIAL -->
<div class="container">

  <div class="brandEditorial">

    <div class="cards">
      <div class="card1">
        <img src="https://www.marahoffman.com/world-of/wp-content/uploads/2016/06/SP168-956x709.jpg" alt="first">

      </div>
      <div class="card2">
        <img src="https://www.marahoffman.com/world-of/wp-content/uploads/2015/11/21.jpg" alt="second">
      </div>

      <div class="card3">
        <img src="https://www.marahoffman.com/world-of/wp-content/uploads/2016/06/SP166.jpg" alt="third">
      </div>
    </div>

  </div>

<!-- BRAND INTRO -->

  <div class="brandIntro">
    <div class="logo">
      <img src="https://i.ibb.co/zrxzPp6/mara-hoffman-logo.png" alt="logo" style="height: 150px; width: 300px;">
    </div>
    <div class="description">
    <p>
      Mara Hoffman founded her label in 2000 after graduating from Parsons School of Design in New York City. Fifteen years later, the brand committed itself to implementing more sustainable and responsible practices.

      In an effort to foster mindful consumption habits, the brand maintains an open conversation about its approach and encourages consumers to reevaluate the relationship society has with clothing. The company continues to focus on sustainable materials, processes, and production in order to improve and extend each garment’s life.
    </p>
    </div>
  </div>

  <a class="btn btn-ghost" href="https://www.marahoffman.com/">Check the Brand</a>

</div>

<!-- PRODUCTS -->
<div class="product-cards">

  <div class="cards">
  <div class="card-category">
    <img src="https://i.ibb.co/Fs4SRrV/diana-button-front-slip-dress-yellow-plaid.jpg">
  </div>

  <div class="card-category">
    <img src="https://i.ibb.co/mFRFRhj/mischa-button-front-drop-waist-dress-meadow-print.jpg">
  </div>

  <div class="card-category">
    <img src="https://i.ibb.co/PDq9pQ6/nina-bias-cut-v-neck-dress-cream.jpg">
  </div>
</div>

</div>



<!-- FOOTER -->
