<h1><%= @product.name %></h1>
<div class="product-show-card">
  <h3>price: $<%= @product.price %></h3>
  <p><%= link_to "Brand's Website", @product.url %></p>
  <p><%= link_to "❤️", product_product_recs_path(@product),
    method: :post %></p>
</div>
<p>Find me in app/views/products/show.html.erb</p>
